.star {
    color: silver;
}

.starSaved {
    color: gold;
}

.backgroundStar {
    position: absolute;
    left: 1.2em;
    top: 2em;

    display: flex;
    align-items: center;

    :hover {
        stroke: silver;
        stroke-opacity: 0.5;
    }
}